@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

#header #top-header {
    border-bottom: 1px solid #DDD;
}

.header-links {
    float:left;
}

.header-links ul li {
    display: inline-block;
    border-left: 1px solid #DDD;
}

.header-links  ul li:last-child {
    border-right:1px solid #DDD;
}

.header-links ul li a {
    display: block;
    padding: 0px 10px;
    height: 30px;
    line-height: 30px;
    color: #222;
    font-size: 12.5px;
    text-align: center;
    text-transform: uppercase;
}

.header-links ul li a:hover  {
    color:#EF233C;
}

.header-social {
    float:right;
}

.header-social ul li {
    display: inline-block;
    border-left: 1px solid #DDD;
}

.header-social ul li:last-child {
    border-right:1px solid #DDD;
}

.header-social ul li a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #222;
    text-align: center;
}

.header-social ul li a:hover {
    color:#EF233C;
}

/*----------------------------*\
	Center Header
\*----------------------------*/
/*#header #center-header {*/
    /*padding-top:20px;*/
    /*padding-bottom:20px;*/
/*}*/

/*.header-logo {*/
    /*float:left;*/
/*}*/

/*.header-logo .logo {*/
    /*display:inline-block;*/
/*}*/

/*.header-logo .logo > img {*/
    /*width: 100%;*/
    /*max-height: 90px;*/
    /*padding: 10px;*/
/*}*/

/*.header-ads {*/
    /*float:right;*/
/*}*/

/*----------------------------*\
	Nav Header
\*----------------------------*/
#header #nav-header {
    background: #07090c;
}

#nav-header .nav-logo {
    display:none;
    float:left;
}

#nav-header .nav-logo .logo {
    display:inline-block;
}

#nav-header .nav-logo .logo > img {
    width: 100%;
    max-height: 90px;
}

#nav-header.fixed {
    position:fixed;
    left:0;
    top:0;
    right:0;
    z-index:99;
}

.main-nav li {
    border-left:1px solid #222;
}

.main-nav li:last-child {
    border-right:1px solid #222;
}

.main-nav li a {
    padding: 25px 15px;
    color: #FFF;
    text-transform: uppercase;
}

.main-nav li.active a {
    background-color:#EF233C !important;
}

.main-nav li a:hover, .main-nav li a:focus {
    background-color:#222;
}

.button-nav {
    position:relative;
    float:right;
}

.button-nav > button {
    padding: 25px 25px;
    border: none;
    line-height: 20px;
    background: transparent;
    color: #FFF;
}

.button-nav .search-collapse-btn.active {
    background: #EF233C;
}

.search-form {
    position: absolute;
    width: 250px;
    background: #07090c;
    padding: 20px;
    right: 0;
    border-top: 2px solid #EF233C;
    -webkit-box-shadow: 0px 5px 6px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 5px 6px -5px rgba(0, 0, 0, 0.4);
    z-index: 22;
    -webkit-transform:translateY(15px);
    -ms-transform:translateY(15px);
    transform:translateY(15px);
    opacity:0;
    visibility:hidden;
    -webkit-transition:0.2s all;
    transition:0.2s all;
}

.search-form form .input {
    border:none;
    background-color:#FFF;
}

.search-form.search-collapse {
    -webkit-transform:translateY(0px);
    -ms-transform:translateY(0px);
    transform:translateY(0px);
    opacity:1;
    visibility:visible;
}

.button-nav .nav-collapse-btn {
    display:none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: #777;
    background: #4CAF50;
}

.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}